/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 */

/**
 * This uses the background and foreground colors declared in the `theme.json`
 * file and is applied both to the front end and in the block editor.
 */
@layer base {
	a {
		transition: 0.15s ease;
		transition-property: color, background-color, border, text-decoration;
	}

	a.btn .dashicons {
		transition: color 0.15s ease !important;
	}

	button:not(:disabled),
	[role="button"]:not(:disabled) {
		cursor: pointer;
	}
}
